body {
  background: #d5e1ef;
  font-family: 'Outfit', sans-serif;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 320px;
  height: 497px;
  margin: auto 0;
  background: #fff;
  padding: 16px;
  border-radius: 20px;
}

.qrcode-container {
  background: #2c7dfa;
  padding: 60px;
  border-radius: 10px;
}

h1 {
  font-size: 22px;
  color: #000;
  margin-top: 24px;
}

p {
  color: #7d889e;
  margin: 16px 16px 40px 16px;
  padding: 0 16px;
  letter-spacing: 0.188px;
}

footer {
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


