body {
  background: #d5e1ef;
  text-align: center;
  font-size: 15px;
}

main {
  width: 320px;
  margin: 150px auto;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

.qrcode-container {
  background: #2c7dfa;
  padding: 60px;
  border-radius: 10px;
}

h3 {
  font-size: 22px;
  color: #000;
}

p {
  color: #7d889e;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 90px auto;
  }
}
