body {
  background: #d5e1ef;
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 320px;
  height: 497px;
  margin: auto;
  background: #fff;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}

.qrcode-container {
  background: #2c7dfa;
  padding: 60px;
  border-radius: 10px;
  margin: 0 0 24px 0;
}

img {
  margin: 0;
}

h1 {
  font-size: 22px;
  color: #000;
  margin: 0 0 16px 0;
}

p {
  color: #7d889e;
  padding: 0 16px;
  letter-spacing: 0.188px;
  margin: 0 16px;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
